:root {
    --txt-color-000: darkslategray;
    --txt-color-200: black;
    --pri-color-000: yellow;
    --acc-color-000: purple;
    --bgr-color-000: white;
    --bgr-color-100: snow;
    --bgr-color-200: ghostwhite;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

body {
    font-family: sans-serif;
    background-color: var(--bgr-color-000);
}

button {
    width: 100%;
    padding: 10px 10px;
}

output.input:empty::before {
    content: "-";
    display: block;
    font-style: italic;
}

legend, label {
    text-transform: uppercase;
    font-size: x-small;
}

label {
    display: block;
    margin: 5px 0px;
}

fieldset {
    margin: 5px 0px;
}

h1,h2,h3,h4,h5,h6 {
    text-decoration: overline;
    text-transform: uppercase;
}

mark {
    background-color: var(--acc-color-000);
    padding: 1px 1px;
    border-radius: 1px;
}

progress {
    width: 100%;
}

.surface {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
}

.surface-dark {
    background-color: var(--bgr-color-200);
}

.surface-light {
    background-color: var(--bgr-color-000);
}

.input {
    padding: 6px 6px;
    margin: 8px 0px;
    border: 1px solid var(--acc-color-000);
    border-radius: 3px;
    display: block;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.input-dark {
    color: var(--txt-color-000);
}

.input-light {
    color: var(--txt-color-200);
}


.table tbody tr td {
    padding: 8px;
    border-bottom: 1px solid var(--acc-color-000);
    text-align: center;
}
